# Obtendo dados de senadores
Com base nos dados de senadores disponíveis no site do senado vamos obter esses dados e analisar

In [1]:
# Importando as bibliotecas
import requests
import pandas as pd

# Site onde estão os dados
url = "http://www25.senado.leg.br/web/transparencia/sen/em-exercicio/-/e/por-nome"

# Requisicao para obter os dados
r = requests.get(url)

# Obtém os dados do HTML da página
table = pd.read_html(r.text)

# Pega o primeiro elemento, a tabela
df = table[0]

df.head()

,Nome,Partido,UF,Período,Telefones,Correio Eletrônico
0,Acir Gurgacz,PDT,RO,2015 - 2023,(61) 3303-3131 / 3132,acir@senador.leg.br
1,Aécio Neves,PSDB,MG,2011 - 2019,(61) 3303-6049 / 6050,aecio.neves@senador.leg.br
2,Airton Sandoval,MDB,SP,2011 - 2019,(61) 3303-6063 / 6064,sen.airtonsandoval@senado.leg.br
3,Alvaro Dias,PODE,PR,2015 - 2023,(61) 3303-4059 / 4060,alvarodias@senador.leg.br
4,Ana Amélia,PP,RS,2011 - 2019,(61) 3303-6083,ana.amelia@senadora.leg.br

In [2]:
# Quantos senadores?
df.count()

Nome                  81
Partido               81
UF                    81
Período               81
Telefones             79
Correio Eletrônico    79
dtype: int64

In [3]:
# Exercício: Quantos senadores de cada partido

# Resposta 1: Contar os valores do campo
df.Partido.value_counts()

MDB          18
PSDB         12
PT            9
PP            6
PSD           5
PODE          5
DEM           5
PR            4
PSB           4
PDT           3
PRB           2
REDE          1
PPS           1
PTB           1
PROS          1
PCdoB         1
PTC           1
S/Partido     1
PV            1
Name: Partido, dtype: int64

In [4]:
# Resposta 2: Agrupar por Tipo
df.groupby('Partido').count()

           Nome  UF  Período  Telefones  Correio Eletrônico
Partido
DEM           5   5        5          5                   5
MDB          18  18       18         18                  18
PCdoB         1   1        1          1                   1
PDT           3   3        3          3                   3
PODE          5   5        5          5                   5
PP            6   6        6          5                   6
PPS           1   1        1          1                   1
PR            4   4        4          4                   3
PRB           2   2        2          2                   2
PROS          1   1        1          1                   1
PSB           4   4        4          4                   4
PSD           5   5        5          5                   5
PSDB         12  12       12         12                  12
PT            9   9        9          9                   9
PTB           1   1        1          1                   1
PTC           1   1        1          1                   1
PV            1   1        1          0                   0
REDE          1   1        1          1                   1
S/Partido     1   1        1          1                   1

In [ ]:
# Exercício
# Separar por Estado
# Fazer pivot