# Análise dos dados do Escola Inteligente

O site Escola Inteligente compila os dados do INEP e libera em formato de API para consulta.

Acesso: http://educacao.dadosabertosbr.com

In [1]:
# Importando as bibliotecas
import pandas as pd
# Usamos a biblioteca requests para fazer uma requisição a algum site
import requests

# URL de acesso aos dados via api
# Basta ir ao site, montar a consulta de seu interesse e pegar a URL gerada
# Queremos as escolas que estão em funcionamento mas não têm energia, nem água, nem esgoto
url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on'

# Pandas consegue ler JSON diretamente
#df = pd.read_json(url, orient='records')
# MAS NUNCA FUNCIONA

# Vamos ter que requisitar o arquivo, transformar em lista, pegar apenas o elemento desejado e transformar em DF

# Obtendo os dados
# Vamos fazer uma requisicao ao site e receber um texto como resposta
resposta = requests.get(url)

# O texto da resposta
# Pode ser o código de uma página, por exemplo (raspagem)
resposta.text

# Criando o DataFrame
df = pd.DataFrame(resposta.json()[1])

df.head()

,anoCenso,cidade,cod,codCidade,dependenciaAdministrativa,dependenciaAdministrativaTxt,enemMediaGeral,estado,idebAF,idebAI,nome,regiao,situacaoFuncionamento,situacaoFuncionamentoTxt
0,2013,CANDIDO DE ABREU,41036026,4104402,3,Municipal,0.0,PR,0.0,0.0,BAIRRO DOS MENDES E R M EF,Sul,1,Em atividade
1,2013,SANTA HELENA,21237808,2109809,3,Municipal,0.0,MA,0.0,0.0,CEF CAJAZEIRAS,Nordeste,1,Em atividade
2,2013,MONTE ALEGRE,15008258,1504802,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA AZUL,Norte,1,Em atividade
3,2013,PLACAS,15534340,1505650,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA BOA,Norte,1,Em atividade
4,2013,MOJU,15590356,1504703,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA PRETA,Norte,1,Em atividade

In [2]:
# Qual o tamanho do DataFrame?
df.count()

anoCenso                        100
cidade                          100
cod                             100
codCidade                       100
dependenciaAdministrativa       100
dependenciaAdministrativaTxt    100
enemMediaGeral                  100
estado                          100
idebAF                          100
idebAI                          100
nome                            100
regiao                          100
situacaoFuncionamento           100
situacaoFuncionamentoTxt        100
dtype: int64

In [3]:
# Em quais estados estão essas escolas?
df.estado.value_counts()

PA    98
MA     1
PR     1
Name: estado, dtype: int64

In [4]:
# São todas escolas municipais?
df.dependenciaAdministrativaTxt.value_counts()

Municipal    100
Name: dependenciaAdministrativaTxt, dtype: int64